# SPDX-FileCopyrightText: 2022 Kari Argillander
#
# SPDX-License-Identifier: CC0-1.0

# Common
.DS_Store
*.bak
*.swp
*~

# Docs
_build/

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Python
*.py[cod]
*$py.class

# Tox
.tox/
*.egg-info

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Ide's

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
